In [1]:
# !pip install CBFV
# # !pip install pandas-Profiling -U

In [2]:
import os
import pandas as pd
# from pandas_profiling import ProfileReport
from sklearn.preprocessing import StandardScaler
# from sklearn.preprocessing import normalize

from CBFV.composition import generate_features

In [3]:
# from google.colab import drive
# drive.mount('/content/drive')

In [4]:
i = 'CBM_HSE06'

In [5]:
from joblib import dump, load
#load model
model = load(f'../save_model/{i}_oliynyk_GradientBoostingRegressor_full_HPO.joblib')

/home/athul/miniconda3/envs/project/lib/python3.9/site-packages/sklearn/base.py:329: UserWarning: Trying to unpickle estimator DecisionTreeRegressor from version 0.24.2 when using version 1.0.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/modules/model_persistence.html#security-maintainability-limitations
  warnings.warn(
/home/athul/miniconda3/envs/project/lib/python3.9/site-packages/sklearn/base.py:329: UserWarning: Trying to unpickle estimator DummyRegressor from version 0.24.2 when using version 1.0.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/modules/model_persistence.html#security-maintainability-limitations
  warnings.warn(
/home/athul/miniconda3/envs/project/lib/python3.9/site-packages/sklearn/base.py:329: UserWarning: Trying to unpickle estimator GradientBoostingRegressor from version 0.24.2 when using version 1.0.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/modules/model_persistence.html#security-maintainability-limitations
  warnings.warn(

In [6]:
# !python Metal_chal_all.py > '/content/drive/MyDrive/jupyter/2D/data/Metal_chal_all.csv'

In [7]:
PATH = os.getcwd()
data_path = os.path.join(PATH, '../test/M2Xn.csv')
df = pd.read_csv(data_path)

df

     formula
0        ScO
1        ScS
2       ScSe
3       ScTe
4         YO
...      ...
4491   Cd2Te
4492    Hg2O
4493    Hg2S
4494   Hg2Se
4495   Hg2Te

[4496 rows x 1 columns]

In [8]:
# profile = ProfileReport(df, title="Pandas Profiling Report")
# profile.to_notebook_iframe()

In [9]:
df['target'] = 0
# df.head()
df.columns = ['formula','target']
df.head()

  formula  target
0     ScO       0
1     ScS       0
2    ScSe       0
3    ScTe       0
4      YO       0

In [10]:
X_unscaled, y, formulae, skipped = generate_features(df, elem_prop='oliynyk', drop_duplicates=False, extend_features=False, sum_feat=True)

Processing Input Data: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4496/4496 [00:00<00:00, 6742.58it/s]

	Featurizing Compositions...

Assigning Features...: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4496/4496 [00:01<00:00, 2692.28it/s]

	Creating Pandas Objects...

In [11]:
scaler = StandardScaler()

X = scaler.fit_transform(X_unscaled)

In [12]:
y_predict = model.predict(X)
# y_predict

In [13]:
df['target'] = y_predict
df.sort_values(by=['target'], ascending=False)

      formula    target
776    W2OSSe  1.886492
777    W2OSTe  1.845569
779   W2SSeTe  1.763612
548   W2S1Te2  1.614180
549   W2S2Te1  1.572738
...       ...       ...
1460    Au2O5 -6.309446
2399   CrO24S -6.453169
2524  TcO24Se -6.700168
2519   TcO24S -6.801439
2549   ReO24S -6.890905

[4496 rows x 2 columns]

In [14]:
df.columns = ['formula',i]

In [15]:
# out_path = os.path.join(PATH, '../predict/MnXn.csv')
# df.to_csv(out_path, index=False)

In [16]:
df0 = pd.read_csv('../predict/MnXn.csv')

In [17]:
df0

     formula     2Dpfx     2Dpfy    CBM_GW       CBM
0        ScO  6.780477  6.560595 -0.607309 -0.798420
1        ScS  6.969697  6.842947 -0.639003 -0.903421
2       ScSe  7.200925  7.203641 -0.555348 -0.912750
3       ScTe  8.569013  8.751402 -0.384228 -0.728372
4         YO  7.205886  6.531613 -0.527423 -0.659455
...      ...       ...       ...       ...       ...
4491   Cd2Te  6.862673  7.083484 -1.183394 -1.889910
4492    Hg2O  4.453614  4.065799 -1.663865 -2.721736
4493    Hg2S  4.542048  4.599807 -1.657120 -2.848962
4494   Hg2Se  4.592666  4.682071 -1.717275 -2.786778
4495   Hg2Te  5.150509  5.750191 -1.557742 -2.546295

[4496 rows x 5 columns]

In [18]:
# df0 = df0.drop('CBM_HSE06',1)

In [19]:
df3 = pd.concat([df0,df[df.columns[1]]],axis =1)

In [20]:
df3

     formula     2Dpfx     2Dpfy    CBM_GW       CBM  CBM_HSE06
0        ScO  6.780477  6.560595 -0.607309 -0.798420  -1.529338
1        ScS  6.969697  6.842947 -0.639003 -0.903421  -1.547324
2       ScSe  7.200925  7.203641 -0.555348 -0.912750  -2.119493
3       ScTe  8.569013  8.751402 -0.384228 -0.728372  -1.781099
4         YO  7.205886  6.531613 -0.527423 -0.659455  -1.584716
...      ...       ...       ...       ...       ...        ...
4491   Cd2Te  6.862673  7.083484 -1.183394 -1.889910  -2.258974
4492    Hg2O  4.453614  4.065799 -1.663865 -2.721736  -3.231894
4493    Hg2S  4.542048  4.599807 -1.657120 -2.848962  -3.534912
4494   Hg2Se  4.592666  4.682071 -1.717275 -2.786778  -3.430847
4495   Hg2Te  5.150509  5.750191 -1.557742 -2.546295  -2.913362

[4496 rows x 6 columns]

In [23]:
out_path = os.path.join(PATH, '../predict/MnXn.csv')
df3.to_csv(out_path, index=False)