In [1]:
# !pip install CBFV
# # !pip install pandas-Profiling -U

In [1]:
import os
import pandas as pd
# from pandas_profiling import ProfileReport
from sklearn.preprocessing import StandardScaler
# from sklearn.preprocessing import normalize

from CBFV.composition import generate_features

In [2]:
# from google.colab import drive
# drive.mount('/content/drive')

In [3]:
i = 'Dgap_HSE06'
i0 = 'gap_dir_hse'

In [4]:
from joblib import dump, load
#load model
model = load(f'../save_model/{i}_oliynyk_ExtraTreesRegressor_full_HPO.joblib')

In [5]:
# !python Metal_chal_all.py > '/content/drive/MyDrive/jupyter/2D/data/Metal_chal_all.csv'

In [6]:
PATH = os.getcwd()
data_path = os.path.join(PATH, '../test/M2Xn.csv')
df = pd.read_csv(data_path)

df

     formula
0        ScO
1        ScS
2       ScSe
3       ScTe
4         YO
...      ...
4491   Cd2Te
4492    Hg2O
4493    Hg2S
4494   Hg2Se
4495   Hg2Te

[4496 rows x 1 columns]

In [7]:
# profile = ProfileReport(df, title="Pandas Profiling Report")
# profile.to_notebook_iframe()

In [8]:
df['target'] = 0
# df.head()
df.columns = ['formula','target']
df.head()

  formula  target
0     ScO       0
1     ScS       0
2    ScSe       0
3    ScTe       0
4      YO       0

In [9]:
X_unscaled, y, formulae, skipped = generate_features(df, elem_prop='oliynyk', drop_duplicates=False, extend_features=False, sum_feat=True)

Processing Input Data: 100%|██████████| 4496/4496 [00:00<00:00, 6901.14it/s]

	Featurizing Compositions...

Assigning Features...: 100%|██████████| 4496/4496 [00:01<00:00, 2467.76it/s]

	Creating Pandas Objects...

In [10]:
scaler = StandardScaler()

X = scaler.fit_transform(X_unscaled)

In [11]:
y_predict = model.predict(X)
# y_predict

In [12]:
df['target'] = y_predict
df.sort_values(by=['target'], ascending=False)

     formula    target
300    Sc2O3  6.176907
304     Y2O3  6.138135
0        ScO  5.856992
308    La2O3  5.768521
4         YO  5.645798
..       ...       ...
185  Mo2SeTe  0.527799
227  Os2SeTe  0.523584
209  Re2SeTe  0.513088
201   Tc2SSe  0.505697
207   Re2SSe  0.502478

[4496 rows x 2 columns]

In [13]:
df.columns = ['formula',i0]

In [14]:
# out_path = os.path.join(PATH, '../predict/MnXn.csv')
# df.to_csv(out_path, index=False)

In [15]:
df0 = pd.read_csv('../predict/MnXn.csv')

In [16]:
df3 = pd.concat([df0,df[df.columns[1]]],axis =1)

In [17]:
df3

,formula,plasmafrequency_x,plasmafrequency_y,cbm_gw,cbm,cbm_hse,gap_dir_gw,gap_dir_nosoc,gap_dir,E_B,...,gap_nosoc,vbm_gw,vbm,evac,energy,cell_area,thermodynamic_stability_level,gap,vbm_hse,gap_dir_hse
0,ScO,6.780477,6.560595,-0.607309,-0.798420,-1.529338,6.758353,3.116082,2.813795,2.323483,...,3.342659,-4.975170,-3.366845,1.841164,-2.242213,18.623081,2,2.863731,-4.445214,5.856992
1,ScS,6.969697,6.842947,-0.639003,-0.903421,-1.547324,5.600028,1.989232,1.705328,1.681240,...,1.983224,-4.093891,-2.690957,2.216470,8.631857,17.504208,2,2.043186,-3.247685,3.485155
2,ScSe,7.200925,7.203641,-0.555348,-0.912750,-2.119493,5.115156,1.778853,1.457384,1.319545,...,1.749576,-3.853335,-2.430418,2.278890,11.717522,18.447787,2,1.746984,-2.835530,2.903501
3,ScTe,8.569013,8.751402,-0.384228,-0.728372,-1.781099,3.905618,1.417777,1.547493,1.157607,...,1.360372,-3.511011,-1.722469,2.492009,18.102694,18.897278,2,1.284072,-2.188837,2.328704
4,YO,7.205886,6.531613,-0.527423,-0.659455,-1.584716,6.481096,2.971756,2.839955,2.303240,...,3.060245,-4.697121,-3.031680,1.944226,-5.780820,20.609101,2,2.716484,-3.951374,5.645798
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4491,Cd2Te,6.862673,7.083484,-1.183394,-1.889910,-2.258974,3.277592,1.435393,1.368973,0.850140,...,1.365684,-3.786594,-2.684735,2.207500,22.859803,16.469548,1,1.135000,-3.193553,1.402140
4492,Hg2O,4.453614,4.065799,-1.663865,-2.721736,-3.231894,4.533672,1.371947,1.108368,1.080975,...,1.425215,-5.171823,-3.197159,3.297119,10.905367,14.514042,2,0.847971,-3.875150,1.414390
4493,Hg2S,4.542048,4.599807,-1.657120,-2.848962,-3.534912,3.110641,1.174310,1.065036,0.912116,...,1.164667,-4.177426,-3.099423,2.810102,13.383667,16.873239,3,0.755105,-3.650950,1.062678
4494,Hg2Se,4.592666,4.682071,-1.717275,-2.786778,-3.430847,2.872274,1.109177,1.127247,0.875934,...,1.126642,-3.964513,-3.093821,2.492929,15.528016,17.398387,3,0.759706,-3.570748,1.047168
4495,Hg2Te,5.150509,5.750191,-1.557742,-2.546295,-2.913362,2.658821,1.089467,1.078518,0.774072,...,1.097437,-3.742489,-2.989304,2.408251,17.273035,18.470585,3,0.775546,-3.432996,1.042258

In [18]:
out_path = os.path.join(PATH, '../predict/MnXn.csv')
df3.to_csv(out_path, index=False)