In [1]:
# !pip install CBFV
# # !pip install pandas-Profiling -U

In [2]:
import os
import pandas as pd
# from pandas_profiling import ProfileReport
from sklearn.preprocessing import StandardScaler
# from sklearn.preprocessing import normalize

from CBFV.composition import generate_features

In [3]:
# from google.colab import drive
# drive.mount('/content/drive')

In [4]:
i = 'VBM_gw'

In [5]:
from joblib import dump, load
#load model
model = load(f'../save_model/{i}_oliynyk_ExtraTreesRegressor_full_HPO.joblib')

In [6]:
# !python Metal_chal_all.py > '/content/drive/MyDrive/jupyter/2D/data/Metal_chal_all.csv'

In [7]:
PATH = os.getcwd()
data_path = os.path.join(PATH, '../test/M2Xn.csv')
df = pd.read_csv(data_path)

df

     formula
0        ScO
1        ScS
2       ScSe
3       ScTe
4         YO
...      ...
4491   Cd2Te
4492    Hg2O
4493    Hg2S
4494   Hg2Se
4495   Hg2Te

[4496 rows x 1 columns]

In [8]:
# profile = ProfileReport(df, title="Pandas Profiling Report")
# profile.to_notebook_iframe()

In [9]:
df['target'] = 0
# df.head()
df.columns = ['formula','target']
df.head()

  formula  target
0     ScO       0
1     ScS       0
2    ScSe       0
3    ScTe       0
4      YO       0

In [10]:
X_unscaled, y, formulae, skipped = generate_features(df, elem_prop='oliynyk', drop_duplicates=False, extend_features=False, sum_feat=True)

Processing Input Data: 100%|██████████| 4496/4496 [00:02<00:00, 1638.00it/s]

	Featurizing Compositions...

Assigning Features...: 100%|██████████| 4496/4496 [00:06<00:00, 702.64it/s]

	Creating Pandas Objects...

In [11]:
scaler = StandardScaler()

X = scaler.fit_transform(X_unscaled)

In [12]:
y_predict = model.predict(X)
# y_predict

In [13]:
df['target'] = y_predict
df.sort_values(by=['target'], ascending=False)

         formula    target
2481    W2Se1Te5 -0.510964
2476     W2S1Te5 -0.603814
2483    W2Se3Te3 -0.625552
1676   Re2Se1Te4 -0.649936
2776  W2S1Se1Te4 -0.654740
...          ...       ...
840         TiO2 -6.823007
876         MnO2 -6.922990
300        Sc2O3 -7.297333
396        Cu2O3 -7.410411
400        Ag2O3 -7.550063

[4496 rows x 2 columns]

In [14]:
df.columns = ['formula',i]

In [15]:
# out_path = os.path.join(PATH, '../predict/MnXn.csv')
# df.to_csv(out_path, index=False)

In [16]:
df0 = pd.read_csv('../predict/MnXn.csv')

In [17]:
df3 = pd.concat([df0,df[df.columns[1]]],axis =1)

In [18]:
df3

,formula,2Dpfx,2Dpfy,CBM_GW,CBM,CBM_HSE06,Dgap_gw,Dgap_WSOC,Dgap,EBE,gp_gw,gp_HSE06,GWSOC,VBM_gw
0,ScO,6.780477,6.560595,-0.607309,-0.798420,-1.529338,6.758353,3.116082,2.813795,2.323483,6.969133,5.580019,3.342659,-4.975170
1,ScS,6.969697,6.842947,-0.639003,-0.903421,-1.547324,5.600028,1.989232,1.705328,1.681240,5.821370,3.426148,1.983223,-4.093891
2,ScSe,7.200925,7.203641,-0.555348,-0.912750,-2.119493,5.115156,1.778853,1.457384,1.319545,5.071643,2.982439,1.749576,-3.853335
3,ScTe,8.569013,8.751402,-0.384228,-0.728372,-1.781099,3.905618,1.417777,1.547493,1.157607,3.452277,2.377118,1.360372,-3.511011
4,YO,7.205886,6.531613,-0.527423,-0.659455,-1.584716,6.481096,2.971756,2.839955,2.303240,6.727493,5.333688,3.060245,-4.697121
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4491,Cd2Te,6.862673,7.083484,-1.183394,-1.889910,-2.258974,3.277592,1.435393,1.368973,0.850140,2.779590,1.583014,1.365684,-3.786594
4492,Hg2O,4.453614,4.065799,-1.663865,-2.721736,-3.231894,4.533672,1.371947,1.108368,1.080975,3.653547,1.180240,1.425215,-5.171823
4493,Hg2S,4.542048,4.599807,-1.657120,-2.848962,-3.534912,3.110641,1.174310,1.065036,0.912116,2.772980,1.134505,1.164667,-4.177426
4494,Hg2Se,4.592666,4.682071,-1.717275,-2.786778,-3.430847,2.872274,1.109177,1.127247,0.875934,2.616890,1.088919,1.126642,-3.964513
4495,Hg2Te,5.150509,5.750191,-1.557742,-2.546295,-2.913362,2.658821,1.089467,1.078518,0.774072,2.481713,1.122745,1.097437,-3.742489

In [19]:
out_path = os.path.join(PATH, '../predict/MnXn.csv')
df3.to_csv(out_path, index=False)