In [1]:
# !pip install CBFV
# # !pip install pandas-Profiling -U

In [2]:
import os
import pandas as pd
# from pandas_profiling import ProfileReport
from sklearn.preprocessing import StandardScaler
# from sklearn.preprocessing import normalize

from CBFV.composition import generate_features

In [3]:
# from google.colab import drive
# drive.mount('/content/drive')

In [4]:
i = ''

In [5]:
from joblib import dump, load
#load model
model = load(f'../save_model/{i}_oliynyk_ExtraTreesRegressor_full_HPO.joblib')

FileNotFoundError: [Errno 2] No such file or directory: '../save_model/_oliynyk_ExtraTreesRegressor_full_HPO.joblib'

In [ ]:
# !python Metal_chal_all.py > '/content/drive/MyDrive/jupyter/2D/data/Metal_chal_all.csv'

Traceback (most recent call last):
  File "Metal_chal_all.py", line 73, in <module>
    for n4 in range(6):
KeyboardInterrupt

In [ ]:
PATH = os.getcwd()
data_path = os.path.join(PATH, '../test/M2Xn.csv')
df = pd.read_csv(data_path)

df

        ScO
0       ScS
1      ScSe
2      ScTe
3        YO
4        YS
...     ...
4490  Cd2Te
4491   Hg2O
4492   Hg2S
4493  Hg2Se
4494  Hg2Te

[4495 rows x 1 columns]

In [ ]:
# profile = ProfileReport(df, title="Pandas Profiling Report")
# profile.to_notebook_iframe()

In [ ]:
df['target'] = 0
# df.head()
df.columns = ['formula','target']
df.head()

  formula  target
0     ScS       0
1    ScSe       0
2    ScTe       0
3      YO       0
4      YS       0

In [ ]:
X_unscaled, y, formulae, skipped = generate_features(df, elem_prop='oliynyk', drop_duplicates=False, extend_features=False, sum_feat=True)

Processing Input Data: 100%|█████████████| 4495/4495 [00:00<00:00, 23010.78it/s]

	Featurizing Compositions...

Assigning Features...: 100%|█████████████| 4495/4495 [00:00<00:00, 10917.80it/s]

	Creating Pandas Objects...

In [ ]:
scaler = StandardScaler()

X = scaler.fit_transform(X_unscaled)

In [ ]:
y_predict = model.predict(X)
# y_predict

In [ ]:
df['target'] = y_predict
df.sort_values(by=['target'], ascending=False)

          formula    target
299         Sc2O3  4.028173
408       Sc2O2S1  3.543863
410      Sc2O2Se1  3.509095
303          Y2O3  3.453342
307         La2O3  3.298392
...           ...       ...
571      Tc2S1Te2  0.382552
583      Re2S1Te2  0.376253
1332  Re2S1Se1Te2  0.372752
586     Re2Se2Te1  0.364703
585     Re2Se1Te2  0.330571

[4495 rows x 2 columns]

In [ ]:
df.columns = ['formula',i]

In [ ]:
# out_path = os.path.join(PATH, '../predict/MnXn.csv')
# df.to_csv(out_path, index=False)

In [ ]:
df0 = pd.read_csv('../predict/MnXn.csv')

In [ ]:
df3 = pd.concat([df0,df[df.columns[1]]],axis =1)

In [ ]:
df3

     formula       gap
0        ScS  2.331315
1       ScSe  2.200840
2       ScTe  1.519909
3         YO  2.840632
4         YS  2.157874
...      ...       ...
4490   Cd2Te  1.397719
4491    Hg2O  1.010924
4492    Hg2S  0.911060
4493   Hg2Se  0.915490
4494   Hg2Te  1.035561

[4495 rows x 2 columns]

In [ ]:
out_path = os.path.join(PATH, '../predict/MnXn.csv')
df3.to_csv(out_path, index=False)