In [1]:
# !pip install CBFV
# # !pip install pandas-Profiling -U

In [2]:
import os
import pandas as pd
# from pandas_profiling import ProfileReport
from sklearn.preprocessing import StandardScaler
# from sklearn.preprocessing import normalize

from CBFV.composition import generate_features

In [3]:
# from google.colab import drive
# drive.mount('/content/drive')

In [4]:
i = 'Eng'

In [5]:
from joblib import dump, load
#load model
model = load(f'../save_model/{i}_oliynyk_ExtraTreesRegressor_full_HPO.joblib')

In [6]:
# !python Metal_chal_all.py > '/content/drive/MyDrive/jupyter/2D/data/Metal_chal_all.csv'

In [7]:
PATH = os.getcwd()
data_path = os.path.join(PATH, '../test/M2Xn.csv')
df = pd.read_csv(data_path)

df

     formula
0        ScO
1        ScS
2       ScSe
3       ScTe
4         YO
...      ...
4491   Cd2Te
4492    Hg2O
4493    Hg2S
4494   Hg2Se
4495   Hg2Te

[4496 rows x 1 columns]

In [8]:
# profile = ProfileReport(df, title="Pandas Profiling Report")
# profile.to_notebook_iframe()

In [9]:
df['target'] = 0
# df.head()
df.columns = ['formula','target']
df.head()

  formula  target
0     ScO       0
1     ScS       0
2    ScSe       0
3    ScTe       0
4      YO       0

In [10]:
X_unscaled, y, formulae, skipped = generate_features(df, elem_prop='oliynyk', drop_duplicates=False, extend_features=False, sum_feat=True)

Processing Input Data: 100%|██████████| 4496/4496 [00:00<00:00, 6100.10it/s]

	Featurizing Compositions...

Assigning Features...: 100%|██████████| 4496/4496 [00:02<00:00, 1520.05it/s]

	Creating Pandas Objects...

In [11]:
scaler = StandardScaler()

X = scaler.fit_transform(X_unscaled)

In [12]:
y_predict = model.predict(X)
# y_predict

In [13]:
df['target'] = y_predict
df.sort_values(by=['target'], ascending=False)

      formula      target
103      AgTe   -4.408319
115      CdTe   -4.548939
4491    Cd2Te   -4.562797
4495    Hg2Te   -4.564073
118      HgSe   -4.602911
...       ...         ...
2464   WO24Se -184.801336
2639   OsO24S -185.080624
2554  ReO24Se -185.310637
2459    WO24S -185.346687
2549   ReO24S -185.615499

[4496 rows x 2 columns]

In [14]:
df.columns = ['formula',i]

In [15]:
# out_path = os.path.join(PATH, '../predict/MnXn.csv')
# df.to_csv(out_path, index=False)

In [16]:
df0 = pd.read_csv('../predict/MnXn.csv')

In [17]:
df3 = pd.concat([df0,df[df.columns[1]]],axis =1)

In [18]:
df3

,formula,2Dpfx,2Dpfy,area,CBM_GW,CBM_HSE06,CBM,Dgap_gw,Dgap_HSE06,Dgap_WSOC,Dgap,EBE,Eng
0,ScO,6.780477,6.560595,18.623081,-0.607309,-0.335776,-0.798420,6.758353,5.856992,3.116082,2.813795,2.323483,-12.353866
1,ScS,6.969697,6.842947,17.504208,-0.639003,-0.588239,-0.903421,5.600028,3.485155,1.989232,1.705328,1.681240,-8.591758
2,ScSe,7.200925,7.203641,18.447787,-0.555348,-0.533551,-0.912750,5.115156,2.903501,1.778853,1.457384,1.319545,-7.938112
3,ScTe,8.569013,8.751402,18.897278,-0.384228,-0.348435,-0.728372,3.905618,2.328704,1.417777,1.547493,1.157607,-7.579106
4,YO,7.205886,6.531613,20.609101,-0.527423,-0.331382,-0.659455,6.481096,5.645798,2.971756,2.839955,2.303240,-11.841529
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4491,Cd2Te,6.862673,7.083484,16.469548,-1.183394,-1.643268,-1.889910,3.277592,1.402140,1.435393,1.368973,0.850140,-4.562797
4492,Hg2O,4.453614,4.065799,14.514042,-1.663865,-3.126473,-2.721736,4.533672,1.414390,1.371947,1.108368,1.080975,-6.517982
4493,Hg2S,4.542048,4.599807,16.873239,-1.657120,-2.865481,-2.848962,3.110641,1.062678,1.174310,1.065036,0.912116,-4.724906
4494,Hg2Se,4.592666,4.682071,17.398388,-1.717275,-2.709743,-2.786778,2.872274,1.047168,1.109177,1.127247,0.875934,-4.638710
4495,Hg2Te,5.150509,5.750191,18.470585,-1.557742,-2.541480,-2.546295,2.658821,1.042258,1.089467,1.078518,0.774072,-4.564073

In [19]:
out_path = os.path.join(PATH, '../predict/MnXn.csv')
df3.to_csv(out_path, index=False)