In [1]:
# !pip install CBFV
# # !pip install pandas-Profiling -U

In [2]:
import os
import pandas as pd
# from pandas_profiling import ProfileReport
from sklearn.preprocessing import StandardScaler
# from sklearn.preprocessing import normalize

from CBFV.composition import generate_features

In [3]:
# from google.colab import drive
# drive.mount('/content/drive')

In [4]:
i = 'CBM_GW'

In [5]:
from joblib import dump, load
#load model
model = load(f'../save_model/{i}_oliynyk_ExtraTreesRegressor_full_HPO.joblib')

In [6]:
# !python Metal_chal_all.py > '/content/drive/MyDrive/jupyter/2D/data/Metal_chal_all.csv'

In [7]:
PATH = os.getcwd()
data_path = os.path.join(PATH, '../test/M2Xn.csv')
df = pd.read_csv(data_path)

df

     formula
0        ScO
1        ScS
2       ScSe
3       ScTe
4         YO
...      ...
4491   Cd2Te
4492    Hg2O
4493    Hg2S
4494   Hg2Se
4495   Hg2Te

[4496 rows x 1 columns]

In [8]:
# profile = ProfileReport(df, title="Pandas Profiling Report")
# profile.to_notebook_iframe()

In [9]:
df['target'] = 0
# df.head()
df.columns = ['formula','target']
df.head()

  formula  target
0     ScO       0
1     ScS       0
2    ScSe       0
3    ScTe       0
4      YO       0

In [10]:
X_unscaled, y, formulae, skipped = generate_features(df, elem_prop='oliynyk', drop_duplicates=False, extend_features=False, sum_feat=True)

Processing Input Data: 100%|██████████| 4496/4496 [00:00<00:00, 7620.69it/s]

	Featurizing Compositions...

Assigning Features...: 100%|██████████| 4496/4496 [00:02<00:00, 2051.75it/s]

	Creating Pandas Objects...

In [11]:
scaler = StandardScaler()

X = scaler.fit_transform(X_unscaled)

In [12]:
y_predict = model.predict(X)
# y_predict

In [13]:
df['target'] = y_predict
df.sort_values(by=['target'], ascending=False)

         formula    target
1604    W2Se1Te4  1.314284
1423       W2Te5  1.296784
1605    W2Se2Te3  1.295738
1606    W2Se3Te2  1.263118
1600     W2S1Te4  1.243108
...          ...       ...
2218  Au2O2S2Te1 -1.759762
1835    Au2O4Te1 -1.762086
1827     Au2O4S1 -1.780009
1460       Au2O5 -1.783405
298       Hg2STe -1.789071

[4496 rows x 2 columns]

In [14]:
df.columns = ['formula',i]

In [15]:
# out_path = os.path.join(PATH, '../predict/MnXn.csv')
# df.to_csv(out_path, index=False)

In [16]:
df0 = pd.read_csv('../predict/MnXn.csv')

In [17]:
df3 = pd.concat([df0,df[df.columns[1]]],axis =1)

In [18]:
df3

     formula     2Dpfx     2Dpfy    CBM_GW
0        ScO  6.780477  6.560595 -0.607309
1        ScS  6.969697  6.842947 -0.639003
2       ScSe  7.200925  7.203641 -0.555348
3       ScTe  8.569013  8.751402 -0.384228
4         YO  7.205886  6.531613 -0.527423
...      ...       ...       ...       ...
4491   Cd2Te  6.862673  7.083484 -1.183394
4492    Hg2O  4.453614  4.065799 -1.663865
4493    Hg2S  4.542048  4.599807 -1.657120
4494   Hg2Se  4.592666  4.682071 -1.717275
4495   Hg2Te  5.150509  5.750191 -1.557742

[4496 rows x 4 columns]

In [19]:
out_path = os.path.join(PATH, '../predict/MnXn.csv')
df3.to_csv(out_path, index=False)