In [1]:
# !pip install CBFV
# # !pip install pandas-Profiling -U

In [2]:
import os
import pandas as pd
# from pandas_profiling import ProfileReport
from sklearn.preprocessing import StandardScaler
# from sklearn.preprocessing import normalize

from CBFV.composition import generate_features

In [3]:
# from google.colab import drive
# drive.mount('/content/drive')

In [4]:
from joblib import dump, load
#load model
model = load('../save_model/2Dpfy_oliynyk_ExtraTreesRegressor_full_HPO.joblib')

In [5]:
# !python Metal_chal_all.py > '/content/drive/MyDrive/jupyter/2D/data/Metal_chal_all.csv'

In [6]:
PATH = os.getcwd()
data_path = os.path.join(PATH, '../test/M2Xn.csv')
df = pd.read_csv(data_path)

df

     formula
0        ScO
1        ScS
2       ScSe
3       ScTe
4         YO
...      ...
4491   Cd2Te
4492    Hg2O
4493    Hg2S
4494   Hg2Se
4495   Hg2Te

[4496 rows x 1 columns]

In [7]:
# profile = ProfileReport(df, title="Pandas Profiling Report")
# profile.to_notebook_iframe()

In [8]:
df['target'] = 0
# df.head()
df.columns = ['formula','target']
df.head()

  formula  target
0     ScO       0
1     ScS       0
2    ScSe       0
3    ScTe       0
4      YO       0

In [9]:
X_unscaled, y, formulae, skipped = generate_features(df, elem_prop='oliynyk', drop_duplicates=False, extend_features=False, sum_feat=True)

Processing Input Data: 100%|██████████| 4496/4496 [00:01<00:00, 2651.64it/s]

	Featurizing Compositions...

Assigning Features...: 100%|██████████| 4496/4496 [00:07<00:00, 577.43it/s]

	Creating Pandas Objects...

In [10]:
scaler = StandardScaler()

X = scaler.fit_transform(X_unscaled)

In [11]:
y_predict = model.predict(X)
# y_predict

In [12]:
df['target'] = y_predict
df.sort_values(by=['target'], ascending=False)

           formula     target
3054  W2O2S2Se1Te1  10.972046
3144  W2O2S2Se1Te1  10.972046
3234  W2O2S2Se1Te1  10.972046
3143  W2O2S1Se2Te1  10.880185
3233  W2O2S1Se2Te1  10.880185
...            ...        ...
2609        RuO24S   3.013632
2519        TcO24S   3.005803
2529       TcO24Te   2.938802
2439       MoO24Te   2.919482
2619       RuO24Te   2.888787

[4496 rows x 2 columns]

In [13]:
df.columns = ['formula','2Dpfy']

In [14]:
# out_path = os.path.join(PATH, '../predict/MnXn.csv')
# df.to_csv(out_path, index=False)

In [15]:
df0 = pd.read_csv('../predict/MnXn.csv')

In [16]:
df3 = pd.concat([df0,df[df.columns[1]]],axis =1)

In [17]:
df3

     formula     2Dpfx     2Dpfy
0        ScO  6.780477  6.560595
1        ScS  6.969697  6.842947
2       ScSe  7.200925  7.203641
3       ScTe  8.569013  8.751402
4         YO  7.205886  6.531613
...      ...       ...       ...
4491   Cd2Te  6.862673  7.083484
4492    Hg2O  4.453614  4.065799
4493    Hg2S  4.542048  4.599807
4494   Hg2Se  4.592666  4.682071
4495   Hg2Te  5.150509  5.750191

[4496 rows x 3 columns]

In [18]:
out_path = os.path.join(PATH, '../predict/MnXn.csv')
df3.to_csv(out_path, index=False)